.button {
  background-color: inherit;
  width: fit-content;
  cursor: pointer;
  transition: 0.3s;
  font-family: 'Roboto500';
  font-size: 15px;
  line-height: inherit;
  padding: 14px 16px;
  margin: 0;
  max-width: 200px;
  border-radius: 100px;
  border: 2px solid #86b9bb;
  color: #527173;
  &:hover {
    background: #86b9bb;
    color: white;
  }
}
