.button {
  background-color: inherit;
  width: fit-content;
  cursor: pointer;
  transition: 0.3s;
  font-family: 'Roboto500';
  font-size: 15px;
  line-height: inherit;
  padding: 14px 16px;
  margin: 0;
  max-width: 200px;
  border-radius: 100px;
  border: 2px solid #397251;
  color: #397251;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  &:hover {
    background: #397251;
    color: white;
  }
}
