.tasks {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  .container {
    width: 100%;
    max-width: 1300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    .header {
      margin-bottom: 10px;
      font-family: 'Roboto700';
      font-size: 30px;
    }
    .plusBtn {
      font-family: 'Roboto700';
      width: 50px;
      height: 50px;
      transition: 0.3s;
    }
  }
}

.activeForm {
  max-height: 100%;
}

.activeBtn {
  span {
    display: none;
  }
  &::after {
    content: '—';
    font-family: 'Roboto700';
  }
}
