.label {
  font-family: 'Roboto500';
  font-size: 15px;
  line-height: inherit;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 200px;
  border-radius: 100px;
  padding: 14px 16px;
  margin: 15px 0;
  cursor: pointer;
  transition: 0.3s;
  color: #2a434f;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;

  &:hover {
    background: #2a434f;
    color: white;
  }

  input {
    visibility: hidden;
  }

  .dot {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: white;
    border: 2px solid #2a434f;
  }
}

.activeRadioBtn {
  background-color: #2a434f !important;
  color: white !important;
  .dot {
    background-color: #2a434f !important;
    border: 2px solid white !important;
  }
}
.inActiveRadioBtn {
  background-color: white !important;
  color: #2a434f !important;
  .dot {
    background-color: white !important;
    border: 2px solid #2a434f !important;
  }
}

@media (max-width: 769px) {
  .label {
    padding: 14px 10px;
  }
}
